<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
      <h4 class="text-center">オーナー 利用方法</h4><br>
      <ol>
        <li>
          <h5>貸し出す店舗を登録する</h5>
          <p>店舗画像や、特徴タグの設定。説明文の記載をしておくと、ユーザー様が検索で見つけやすくなります。</p>
        </li>
        <li>
          <h5>予約枠を開放する</h5>
          <p>ユーザー様が予約選択できる時間枠は、店舗登録当初は全て閉鎖されています。<br>なので、何もしないと予約は入りません。予約枠を開放して、ユーザー様からの予約を受け付けることが出来るようになります。<br>開放した予約枠は、再び閉鎖することも可能です.</p>
        </li>
        <li>
          <h5>ユーザー様からの予約が入ったら、チャット機能を通じて当日の流れ確認</h5>
          <p>まずは、ユーザー様に「ご予約ありがとうございます」とメッセージを送りましょう！<br>当日の流れについてユーザー様と確認をしてください。<br>特に以下のような点の確認をお願いします。</p>
          <ul>
            <li>料金の合計</li>
            <li>店舗を貸し出す際、返却の際は立ち合いになるか</li>
            <li>注意事項</li>
          </ul>
        </li>
        <li>
          <h5>当日・料金をユーザー様から受け取る</h5>
          <p>料金は直接受け取りをお願いします。<br>禁止事項や注意事項など、あればお伝えください</p>
        </li>
        <li>
          <h5>返却が済んだらユーザー様への評価・口コミをつける</h5>
          <p>ユーザー様への評価や口コミの作成をお願いします。</p>
        </li>
      </ol>
      <h4>Q&A</h4><br>
      <ul>
        <li>Q. ユーザー様からの料金の支払いは？</li>
        <li>A. 当日にユーザー様から直接お受け取りください。</li>
        <br>
        <li>Q. 貸し出し時間を30分ごとにしたり、長時間貸し出しでのパック料金を作ることは出来ない？</li>
        <li>A. 通常は1時間単位での貸し借りになっておりますが、細かい時間枠の調整やパック料金の設定などは店舗の説明文に詳細を記載してください。</li>
      </ul>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center py-0">
          <%= link_to "オーナー会員登録", o_new_path, class: "btn btn-light" %>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center py-0">
          <%= link_to "まずは登録店舗を見てみる", s_index_path, class: "btn btn-light"%>
        </div>
      </div>
    </div>
  </div>
</div>