<h3>マイアカウント</h3>
<% @shops.each do |shop| %>
<%= shop.name %>
<% if shop.image? %>
<%= image_tag shop.image.url %><br>
<% end %>
<%= link_to "店舗詳細", s_show_path(shop) %>
<%= link_to "店舗新規登録", s_new_path %>
<% end %>