<div class="container">
  <div class="row">
    <h3 class="text-center">質問メッセージ 一覧</h3>
    <% if @chats.present? %>
    <% @chats.each do |chat| %>
    <ul>
      <li><%= link_to "#{chat.user.name }とのメッセージ", ch_show_owner_path(chat.shop, user_id: chat.user) %></li>
      <% if chat.messages.present? %>
      <%= chat.messages.last.content %>
      <small>-<%= l chat.messages.last.created_at, format: :short %>-</small>
      <% end %>
    </ul>
    <% end %>
    <% else %>
    ＜メッセージはありません＞
    <% end %>
    <div class="text-center">
      <%= link_to "マイアカウントに戻る", o_show_path, class: "btn btn-warning"%>
    </div>
  </div>
</div>